/*******FONTS*******/
@font-face {
    font-family: 'digital';
    font-style: normal;
    font-weight: normal;
    src: local('Digital'),
         url('../font/digital/digital.ttf')  format('truetype'),
         url('../font/digital/digital.woff') format('woff');
}
/*******FONTS*******/

.preload {
    display: none;
}

#playground {
    margin-left: auto;
    margin-right: auto;
    height: 520px;
    width: 1000px;
    position: relative;
}

#roiReine {
    width: 188px;
    height: 248px;

    top: 275px;
    left: 0;

    position: absolute;

    background: url("../img/5.clients.png") 0 0 no-repeat;
    z-index: 64;
}

#tv
{
    background: url("../img/5.clients.png") -188px 0 no-repeat;
    min-height: 447px;
    min-width:  659px;
    position: absolute;
    top : 44px;
    left: 145px;

    z-index: 1;
}

#tvIndex
{
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 110%;
    color: black;
    position: absolute;

    left: 820px;
    top: 100px;
    z-index: 1;
}

#bodyContainer.clients
{
    line-height: 540px; /*Centrage vertical sur 50pix de + que min-height de notre enfant*/
}

#bodyContainer.clients > *
{
    line-height: normal;
}

#whitebg /* same as canvas#tvScreen */
{
    background: white;
    width: 387px;
    height: 289px;

    position: absolute;
    left: 65px;
    top: 53px;

    z-index: 0;
}

canvas#tvScreen
{
    position: absolute;
    left: 65px;
    top: 53px;
}

canvas#tvLcd
{
    font-family: 'digital', sans-serif;
    color: #1f2f2f;
    position: absolute;
    left: 496px;
    top: 44px;
}

div#tvButton, div#tvButton2
{
    background: url('../img/5.clients.png') -847px 0 no-repeat;
    cursor: default;
    opacity: 0.2;
}

div#tvButton.active, div#tvButton2.active
{
    background: url('../img/5.clients.png') -864px 0 no-repeat;
    cursor: default;
    opacity: 1;
}

div#tvButton.active:hover, div#tvButton2.active:hover
{
    background: url('../img/5.clients.png') -881px 0 no-repeat;
    cursor: default;
}

div#tvButton, div#tvButton2
{
    position: absolute;

    width: 17px;
    height: 22px;
}

div#tvButton
{
    left: 409px;
    top: 300px;
}

div#tvButton2
{
    left: 537px;
    top: 150px;
}

div#clientPageNb
{
    font-family: 'digital', sans-serif;
    cursor: default;
    position: absolute;

    right: 260px;
    top: 305px;
    height: 15px;
    width: auto;
}

li.tvIndex {
    margin-bottom: 10px;
}

li.tvIndex:hover,
p.tvIndex:hover,
li.tvIndex.active
{
    color: #e31c79;
    cursor: default;
}
/** \TV/ **/
