/*******FONTS*******/
@font-face {
    font-family: 'MarketingScript';
    font-style: normal;
    font-weight: normal;
    src: url('../font/marketingscript/marketingscript.eot');
    src: local('MarketingScript'),
    url('../font/marketingscript/marketingscript.ttf') format('truetype'),
    url('../font/marketingscript/marketingscript.woff') format('woff');
}

/*******FONTS*******/
#playground {
    margin-left: auto;
    margin-right: auto;
    height: 520px;
    width: 886px;
    position: relative;
}

#bodyContainer {
    overflow: auto;
}


#fouet {
    z-index: 0;
    width: 255px; height: 387px;

    position: absolute;
    top: 15px;
    left: 125px;

    background: url('../img/sprites.portfolio.png') 0 -1517px no-repeat;
}

#cupcake {
    z-index: 0;
    width: 150px;
    height: 163px;

    position: absolute;
    top: 320px;
    left: 75px;

    background: url('../img/sprites.portfolio.png') 0 0 no-repeat;
}

#oeuf {
    z-index: 0;
    width: 166px;
    height: 121px;

    position: absolute;
    left: 585px;
    top: 376px;

    background: url("../img/sprites.portfolio.png") -151px 0 no-repeat transparent;
}

.loader {
    background: url('../img/loader.gif') center center no-repeat;
    width: 100%;
    height: 100%;
}

#logoAteliers {
    background: url('../img/sprites.portfolio.png') no-repeat transparent 0 -1905px;
    width: 370px; height: 142px;
}

/************FLIPBOOK************/
#bookTitle {
    font-family: "MarketingScript", Helvetica, serif;
    font-size: 1.8em;

    color: #e31c79;

    width: 151px;
    height: 97px;

    position: relative;
    left: 145px;
    top: 118px;
}

#bookTitle > p {
    position: absolute;
    top: 8px;
}

#bookTitle:hover {
    cursor: default;
}

#flipbook {
    z-index: 2;
    width: 740px;
    height: 450px;
    right: 0; top: 50px; bottom: 0;
    margin:auto;
    left: 0;

    transition: left .25s ease-out;

    position: absolute !important;
}

#flipbook.first {
    left: -350px;
}

#flipbook.last {
    left: 268px;
}



#flipbook .page.even{
    background-image:-webkit-linear-gradient(left, #FFF 95%, #ddd 100%);
    background-image:-moz-linear-gradient(left, #FFF 95%, #ddd 100%);
    background-image:-o-linear-gradient(left, #FFF 95%, #ddd 100%);
    background-image:-ms-linear-gradient(left, #FFF 95%, #ddd 100%);
}

#flipbook .page.odd{
    background-image:-webkit-linear-gradient(right, #FFF 95%, #ddd 100%);
    background-image:-moz-linear-gradient(right, #FFF 95%, #ddd 100%);
    background-image:-o-linear-gradient(right, #FFF 95%, #ddd 100%);
    background-image:-ms-linear-gradient(right, #FFF 95%, #ddd 100%);
}

.arrow {z-index: 99; opacity: .60;}

.arrow.even {
    background: url('../img/3.portfolio.arrows.png') 0 0 no-repeat;
    width: 16px; height: 16px;
    position: absolute; bottom: 20px; left: 20px;
}

.arrow.odd {
    background: url('../img/3.portfolio.arrows.png') -17px 0 no-repeat;
    width: 16px; height: 16px;
    position: absolute; bottom: 20px; right: 20px;
}

.page img, #logoAteliers {
    position: absolute;
    top: 0; bottom: 0;
    margin: auto;
}

.page.even img, #logoAteliers {
    right: 0;
}

.page.odd img {
    left: 0;
}

.page.odd.tmpCenter img, .page.even.tmpCenter img {
    width: 85%;
    position: absolute;
    text-align: center;
    left: 0; right: 0; bottom: 0; top: 0; margin: auto;

    -webkit-filter: drop-shadow(0 2px 4px rgba(150,150,150,.5));
    -moz-filter: drop-shadow(0 2px 4px rgba(150,150,150,.5));
    -ms-filter: drop-shadow(0 2px 4px rgba(150,150,150,.5));
    -o-filter: drop-shadow(0 2px 4px rgba(150,150,150,.5));
    filter: drop-shadow(0 2px 4px rgba(150,150,150,.5));

    transition: opacity .4s linear;
    opacity: 1;
}

img.loading {
    opacity: 0 !important;
    opacity: 0;
    transition: opacity .4s linear;
}


#page-1 {
    background: url('../img/sprites.portfolio.png') no-repeat 0 -2048px !important;
    width: 371px; height: 450px;

    top: 0; left: 0; bottom: 0; right: 0; margin: auto;
}

#page-2 {
    background: url('../img/sprites.portfolio.png') no-repeat 0 -2950px !important;

    width: 371px; height: 450px;
    top: 0; left: 0; bottom: 0; right: 0; margin: auto;
}

#page-3 img {
    position: absolute;
    top: 0; bottom: 0;
    margin: auto;
}

.lastBack {
    background: url('../img/sprites.portfolio.png') no-repeat 0 -164px !important;

    width: 371px; height: 450px;
    top: 0; left: 0; bottom: 0; right: 0; margin: auto;
}

#back {
    background: url('../img/sprites.portfolio.png') no-repeat 0 -1066px !important;

    width: 371px; height: 450px;
    top: 0; left: 0; bottom: 0; right: 0; margin: auto;
}

/****TABS****/
#navBook {
    position: relative;
    float: right;
    left: 190px;
    height: 435px;
    top: 70px; bottom: 0;margin: auto;
    text-align: left;
    z-index: 10;

    font-size: 1.1em;
    font-family: 'MarketingScript', Helvetica, sans-serif;
}

#navBook li {
    height: 60px;
    line-height: 60px;
    margin-bottom: 15px;

    transition: background-position .3s linear;

    color: #c3c3c3;
}

#navBook li.active a, #navBook a:hover {
    color: #E31C79;
}

#navBook a {
    text-decoration: none;
    padding-left: 75px;
    display: block;
    height: 100%;

}

/* TabV1 (logos) */
/*.tabSprite {*/
    /*position: absolute;*/
    /*left: 0;*/
    /*background-image: url('../img/sprites.pole.png');*/
    /*background-repeat: no-repeat;*/
/*}*/

/*#tabDesign {width: 36px; height: 46px; background-position: -167px 0;}*/
/*#liDesign.active #tabDesign, #liDesign a:hover #tabDesign {background-position: -65px 0;}*/

/*#tabPhoto {width: 64px; height: 47px; background-position: -102px 0;}*/
/*#liPhoto.active #tabPhoto, #liPhoto a:hover #tabPhoto {background-position: 0 0;}*/

/*#tabWeb {width: 47px; height: 51px; background-position: 0 -48px;}*/
/*#liWeb.active #tabWeb, #liWeb a:hover #tabWeb {background-position: -104px -91px;}*/

/*#tabCom {width: 51px; height: 53px; background-position: -152px -89px;}*/
/*#liCom.active #tabCom, #liCom a:hover #tabCom {background-position: -48px -48px;}*/

/*#tabMarketo {width: 47px; height: 42px; background-position: -100px -48px;}*/
/*#liMarketo.active #tabMarketo, #liMarketo a:hover #tabMarketo {background-position: 0 -100px;}*/

/*#tabMarketd {width: 55px; height: 40px; background-position: -148px -48px;}*/
/*#liMarketd.active #tabMarketd, #liMarketd a:hover #tabMarketd {background-position: -48px -102px;}*/
/* Tab V1 */

/* Tab V2 (onglets Nath) */
#navTabs {
    /*position: relative;*/
    /*float: right;*/
    /*left: 35px;*/
    /*top: 61px;*/
    position: absolute;
    left: 638px; top: 61px;


    height: 448px;
    width: 37px;

    z-index: 10;

    font-size: 1.1em;
    font-family: 'MarketingScript', Helvetica, sans-serif;

    transition: left .25s ease-out;
}

#navTabs.open {
    left: 813px;
}

#navTabs div {
    /*transition: background-position .4s;*/
    position: relative;
    left: 0;
    background-image: url('../img/sprites.pole2.png');
    background-repeat: no-repeat;
}

#tabLiDesign {width: 37px; height: 94px; background-position: 0 0;}
#navTabs li.active #tabLiDesign, #navTabs a:hover #tabLiDesign {background-position: -37px 0;}

#tabLiPhoto {width: 37px; height: 80px; background-position: 0 -94px;}
#navTabs li.active #tabLiPhoto, #navTabs a:hover #tabLiPhoto {background-position: -37px -94px;}

#tabLiWeb {width: 37px; height: 72px; background-position: 0 -174px;}
#navTabs li.active #tabLiWeb, #navTabs a:hover #tabLiWeb {background-position: -37px -174px;}

#tabLiCom {width: 37px; height: 74px; background-position: 0 -246px;}
#navTabs li.active #tabLiCom, #navTabs a:hover #tabLiCom {background-position: -37px -246px;}

#tabLiMarketo {width: 37px; height: 56px; background-position: 0 -320px;}
#navTabs li.active #tabLiMarketo, #navTabs a:hover #tabLiMarketo {background-position: -37px -320px;}

#tabLiMarketd {width: 37px; height: 72px; background-position: 0 -376px;}
#navTabs li.active #tabLiMarketd, #navTabs a:hover #tabLiMarketd {background-position: -37px -376px;}
/*** TabV2 (Nath) ***/


/*** IE BG FIX ***/
.ieEven {
    width: 370px; height: 450px;
    background: url('../img/sprites.portfolio.png') transparent no-repeat 0 -2499px;
    top: 0; left: 0; bottom: 0; right: 0; margin: auto;
}

.ieOdd {
    background: url('../img/sprites.portfolio.png') transparent no-repeat 0 -615px;
    width: 370px; height: 450px;
    top: 0; left: 0; bottom: 0; right: 0; margin: auto;
}
