/*******FONTS*******/
/*******FONTS*******/

#agencePop p {
    margin-bottom: 1.5em;
    text-align: justify;
}
#playground {
    margin-left: auto;
    margin-right: auto;
    min-height: 520px;

    width: 1000px;
    position: relative;
    overflow: auto;
}

#copyright {
    /*-webkit-animation: rotaz 5s infinite ease-in-out;*/
    /*-moz-animation: rotaz 5s infinite ease-in-out;*/
    /*-ms-animation: rotaz 5s infinite ease-in-out;*/
    /*-o-animation: rotaz 5s infinite ease-in-out;*/
    animation: rotaz 5s infinite ease-in-out;
}

#copyright {
    background: url("../img/2.agence.png") -131px 0 no-repeat;
    width:114px;
    height:191px;
    opacity: .8;
    position: absolute;
}

#nuage3 {
    background: url('../img/2.agence.png') -245px 0 no-repeat;
    right: 50px;
    width: 111px;
    height: 187px;
    position: absolute;

    /*-webkit-animation: pendule2 9s infinite ease-in-out;*/
    /*-moz-animation: pendule2 9s infinite ease-in-out;*/
    /*-ms-animation: pendule2 9s infinite ease-in-out;*/
    /*-o-animation: pendule2 9s infinite ease-in-out;*/
    animation: pendule2 9s infinite ease-in-out;
}

#agencePop {
    position: relative;
    top: 45px;

    width: 650px;
    min-height: 320px;

    background: white;

    padding: 40px;
    margin-bottom: 115px;

    font-family: 'Helvetica', sans-serif;
    font-size: 1.2em;
}

.sign {
    font-size: 0.7em;
    text-align: right;
}

.news {
    margin-bottom: 2em;
    background: #f8f8f8;
    padding: 25px;
    border-radius: 25px;
}

#flamand {
    background: url('../img/2.agence.png') 0 0 no-repeat;
    width: 131px;
    height: 150px;

    position: absolute;
    bottom:-35px;
    left: -78px;

    z-index: 3;
}

#buisson {
    background: url('../img/2.agence.png') -356px 0 no-repeat;
    width: 164px;
    height: 78px;

    position: absolute;
    right: -35px;
    bottom: -35px;
}
