*
{
    margin: 0;
    padding: 0;
    /*border: 1px dotted gray;*/
}

body
{
    color: #696969;
    font-family: "Bitstream Vera Sans Mono", Arial, sans-serif;
    text-align: center;
    font-size: 100%;
}

ul
{
    list-style: none;
}

a
{
    color: gray;
    text-decoration: none;
}

a:hover
{
    color: #ff69b4;
}

#bodyContainer
{
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/ps/graybg.png') no-repeat top;
}
/** Rounded div popups **/
div.roundedPop
{
    border-color: #AAAAAA;
    border:2px solid;
    box-shadow: 3px 3px 2px #AAAAAA;

    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    -o-border-radius:25px;
    border-radius:25px;
}

/** Align **/
.alignC             {text-align: center;}
.alignR             {text-align: right;}
.alignL             {text-align: left;}

.valignC            {vertical-align: middle;}
.valignT            {vertical-align: top;}
.valignB            {vertical-align: bottom;}

/** Display **/
.inblock            {display: inline-block;}
.inline             {display: inline;}
.block              {display: block;}
.hidden             { display: none; position: absolute; top:-5000px; left:-5000px; z-index: -999;}

/** Float **/
.floatR             {float: right;}

/** Fonts **/
.small              {font-size: 0.65em;}

/** Fixes **/
img                 {border: none;} /* IE blue border fix */