/***********************/
/****** /TV\ ***********/
/***********************/

@font-face {
    font-family: 'digital';
    src: url('/static/font/digital.ttf');
}

#bodyContainer.clients
{
    line-height: 500px; /*Centrage vertical sur 50pix de + que min-height de notre enfant*/
}

#bodyContainer.clients > *
{
    line-height: normal;
}

#tv
{
    background: url("http://rk.dyndns-server.com/ateliers.media/resources/img.pdf/tv+lcd-450.png")
    no-repeat top left;
    min-height: 450px;
    min-width:  662px;
    position: relative;
    top : 14px;

    z-index: 1;
}

#whitebg /* same as canvas#tvScreen */
{
    background: white;
    width: 387px;
    height: 289px;

    position: absolute;
    left: 65px;
    top: 53px;

    z-index: 0;
}

canvas#tvScreen
{
    position: absolute;
    left: 65px;
    top: 53px;
}

canvas#tvLcd
{
    font-family: digital, sans-serif;
    color: #1f2f2f;
    position: absolute;
    left: 496px;
    top: 44px;
}

div#tvButton, div#tvButton2
{
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/img.pdf/(c)nobg-off.png')
    no-repeat center;
    cursor: default;
}

div#tvButton.active, div#tvButton2.active
{
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/img.pdf/(c)nobg-on.png')
    no-repeat center;
    cursor: pointer;
}

div#tvButton.active:hover, div#tvButton2.active:hover
{
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/img.pdf/(c)nobg-hover.png')
    no-repeat center;
    cursor: pointer;
}

div#tvButton, div#tvButton2
{
    position: absolute;

    height: 30px;
    width: 30px;
}

div#tvButton
{
    left: 402px;
    top: 297px;
}

div#tvButton2
{
    left: 533px;
    top: 148px;
}

div#clientPageNb
{
    font-family: 'digital', sans-serif;
    cursor: default;
    position: absolute;
    /*border: solid 1px gray;*/
    right: 260px;
    top: 305px;
    height: 15px;
    width: auto;
}

p.tvIndex
{
    font-family: 'Lucida Grande', serif;
    font-weight: bold;
    font-size: 80%;
    color: black;
}

li.tvIndex:hover,
p.tvIndex:hover
{
    color: #ff69b4;
    cursor: default;
}
/** \TV/ **/