@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    src: local('Quicksand Bold'), local('Quicksand-Bold'), url('http://themes.googleusercontent.com/static/fonts/quicksand/v2/32nyIRHyCu6iqEka_hbKsnhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: normal;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url('http://themes.googleusercontent.com/static/fonts/quicksand/v2/sKd0EMYPAh5PYCRKSryvWz8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

/** Layout **/
header, #bodyContainer, footer
{
    overflow: hidden;
    position: absolute;
    left: 0; right: 0;

    z-index: 10;
}

header
{
    height: 64px;
    top: 0;
}

#bodyContainer
{
    top: 64px;
    bottom: 45px;
    margin: 0;
}

#bodyContainer.index
{
    top: 0;
    bottom: 70px;
}

#bodyContainer.scrollY
{
    overflow: auto;
}

footer
{
    height: 45px;
    bottom: 0;

    z-index: 10;
}

footer.index
{
    height: 70px;
}

/** Header **/
nav
{
    cursor: default;

    border-bottom: 1px solid gray;
    background-color: white;
}

nav:hover {
    cursor: default;
}

nav > ul
{
    font-family: "Quicksand" sans-serif;
    /*font-variant: small-caps;*/
    font-weight: 100;
    font-size: 1.3em;

    padding-top: 20px;
    padding-bottom: 15px;
    top: 5px;
    min-width: 700px;
    /*width: 650px;*/
}

nav > ul:hover a.active
{
    padding: 16px 20px 30px 20px;
    background-color: inherit;
    border: none;
    box-shadow: none;
    color: inherit;
}

nav > ul:hover a.active:hover
{
    padding: 16px 19px 30px 19px;
    background-color: #fadce9;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid #808080;
    border-bottom: none;
    border-radius: 5px;
    box-shadow: -2px -1px 3px #888;
    color: #ff69b4;
}

nav > ul > li
{
    margin-right: -4px;
}

nav > ul > li > a
{
    padding: 16px 20px 30px 20px;
}
nav  ul > li > a.active:hover
{
    padding: 16px 20px 30px 20px;
}

nav > ul > li > a.active
{
    padding: 16px 19px 30px 19px;
    background-color: #fadce9;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid #808080;
    border-bottom: none;
    border-radius: 5px;
    box-shadow: -2px -1px 3px #888;
    color: #ff69b4;
    -webkit-transition-property: background-color, box-shadow;
    -webkit-transition-duration: 0.3s;
    -moz-transition-property: background-color, box-shadow;
    -moz-transition-duration: 0.3s;
    -ms-transition-property: background-color, box-shadow;
    -ms-transition-duration: 0.3s;
    -o-transition-property: background-color, box-shadow;
    -o-transition-duration: 0.3s;
    transition-property: background-color, box-shadow;
    transition-duration: 0.3s;
}

nav > ul > li > a:hover
{
    cursor: default;
    padding: 16px 19px 30px 19px;
    background-color: #fadce9;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid #808080;
    border-bottom: none;
    border-radius: 5px;
    box-shadow: -2px -1px 3px #888;

    -webkit-transition-property: background-color, box-shadow;
    -webkit-transition-duration: 0.5s;
    -moz-transition-property: background-color, box-shadow;
    -moz-transition-duration: 0.5s;
    -ms-transition-property: background-color, box-shadow;
    -ms-transition-duration: 0.5s;
    -o-transition-property: background-color, box-shadow;
    -o-transition-duration: 0.5s;
    transition-property: background-color, box-shadow;
    transition-duration: 0.5s;
}

nav > .logo
{
    position:relative;
}

/** Footer **/
footer
{
    text-align: center;
    border-top: 1px solid gray;
    background: #dddddd;
}

footer > p
{
    position:absolute;
    height: 2em;
}

footer > div
{
    top: 10px;
    position: relative;
}

footer.index > div
{
    top: 25px;
}

footer > img
{
    position: absolute;
    height: 70px;
    right: 10%;
}