#bodyContainer.index
{
    background: none;
}

/*** Transformations - std ***/
/*@keyframes shake {*/
    /*0% {transform: rotate(0deg) scale(1);}*/
    /*20% {transform: rotate(11deg) scale(1.1);}*/
    /*40%, 80% {transform: rotate(-11deg) scale(1.3);}*/
    /*60% {transform: rotate(11deg) scale(1.5);}*/
    /*100% {transform: rotate(0deg) scale(1.15);}*/
/*}*/

@keyframes shake {
    0% {transform: rotate(0deg) scale(1);}
    25% {transform: rotate(15deg) scale(1.1);}
    50% {transform: rotate(-15deg) scale(1.2);}
    75% {transform: rotate(15deg) scale(1.3);}
    100% {transform: rotate(0deg) scale(1.15);}
}

@keyframes flampop {
    0% {transform: rotate(0deg) translate(0, 0);}
    10% {transform: rotate(12deg) translate(0, -20px);}
    25% {transform: rotate(25deg) translate(0, -40px);}
    40% {transform: rotate(8deg) translate(0, -55px);}
    50% {transform: rotate(-2deg) translate(0, -70px);}
    70% {transform: rotate(-2deg) translate(0, -75px);}
    100% {transform: rotate(0deg) translate(0, -95px);}
}

@keyframes flamhide {
    0% {transform: translate(0, 0);}
    100% {transform: translate(0, 250px);}
}

@keyframes hshake {
    0%, 100% {transform: translate(0, 0);}
    20% {transform: translate(3px, 0);}
    30%, 90% {transform: translate(-4px, 0);}
    40% {transform: translate(5px, 0);}
    50% {transform: translate(-6px, 0);}
    60% {transform: translate(8px, 0);}
    70% {transform: translate(-8px, 0);}
    80% {transform: translate(6px, 0);}
}
/***** Transforms ******/

/***** Transformed components ****/
#buisson.shake {
    animation: hshake .7s ease-out;
}

#flamand.flampop {
    animation: flampop 0.9s linear forwards alternate;
    animation-delay: .5s;
}

#flamand.flamhide {
    animation: flamhide 0.5s linear forwards;
    animation-delay: 1s;
}

#uh {
    transition-delay: 0s;
    transition: opacity .6s;
}

#uh.what
{
    opacity: 1;
    transition-delay: 1.8s;
}

#copyTurn.rotaz {
    animation: rotaz 5s infinite ease-in-out;
}

@keyframes twist {
    0% {transform: rotate3d(0, 1, 0, 0deg);}
    50% {transform: rotate3d(0, 1, 0, -600deg);}
    80% {transform: rotate3d(0, 1, 0, -700deg);}
    90% {transform: rotate3d(0, 1, 0, -710deg);}
    100% {transform: rotate3d(0, 1, 0, -720deg);}
}

#copyTurn.twist {
    animation: twist 1s linear;
}

.bulle
{
    opacity: 1;
    transition: opacity .8s;
}

.bulle:hover
{
    opacity: 1;
    animation: shake .4s linear;
}

/***** Layout *****/
#indexbg
{
    background: url('../img/1.index.bg.png') top center no-repeat;
    top: 0;
    height: 560px;
    min-height: 560px;
    overflow-x: hidden;
    text-align: center;
    position: relative;
}

#playground
{
    margin-left: auto;
    margin-right: auto;
    height: 560px;
    width: 886px;
    position: relative;
}

#nuage1
{
    background: url('../img/1.index.png') -866px 0 no-repeat;
    position: absolute;
    top: 0;
    left: 12%;
    width: 110px;
    height: 155px;

    animation: pendule1 7s infinite ease-in-out;
}

#nuage2
{
    background: url('../img/1.index.png') -976px 0 no-repeat;
    position: absolute;
    top: 0;
    right: 8%;
    width: 115px;
    height: 208px;

    animation: pendule2 9s infinite ease-in-out;
}

#copyright
{
    width:114px;
    height:191px;
    position: absolute;
    top: 0;
    right: 299px;
}

#copyTurn {
    z-index:-1;
    width: 100%; height: 100%;
    background: url('../img/1.index.png') -358px 0 no-repeat;
}

#buisson
{
    background: url('../img/1.index.png') -94px 0 no-repeat;
    position: absolute;
    left: 678px;
    bottom: 115px;
    width: 132px;
    height: 77px;
    z-index: 2;
    overflow:hidden;
}

#cache
{
    background: url('../img/1.index.png') -226px 0 no-repeat;
    position: absolute;
    left: 678px;
    bottom: 0;
    width: 132px;
    height: 115px;
    z-index: 2;
}


#flamand
{
    background: url('../img/1.index.png') -10px 0 no-repeat;
    width: 84px;
    height: 123px;
    position: absolute;
    bottom: 35px;
    left: 718px;
    z-index: 1;

    overflow: hidden;
}

#uh
{
    background: url('../img/1.index.png') 0 0 no-repeat;
    width: 10px;
    height: 19px;
    position: absolute;
    left: 748px;
    top: 293px;
    opacity: 0;
}

#client {
    position: absolute;
    left: 622px;
    top: 430px;
    height: 120px;
    width: 53px;
}

.bulle
{
    position: absolute;
    z-index: 3;
}

.bulle a, .indexLink a {
    position: absolute;
    display: block;
    height: 100%; width: 100%;
    z-index: 99;
}

.bulle a:hover, .indexLink a:hover, #copyTurn {
    cursor: pointer;
}

#bclients.bulle
{
    background: url('../img/1.index.bclient.png') no-repeat;
    width: 98px;
    height: 79px;
    left: 680px;
    top: 407px;
}

#bportfolio.bulle
{
    background: url('../img/1.index.bportfolio.png') no-repeat;
    width: 120px;
    height: 104px;
    left: 214px;
    top: 410px;
}

#bagence.bulle
{
    background: url('../img/1.index.bagence.png') no-repeat;
    width: 105px;
    height: 93px;
    left: 598px;
    top: 114px;
}

#bcontact.bulle
{
    background: url('../img/1.index.bcontact.png') no-repeat;
    width: 114px;
    height: 80px;
    left: 449px;
    top: 403px;
}

#bequipe.bulle
{
    background: url('../img/1.index.bequipe.png')no-repeat;
    width: 91px;
    height: 90px;
    left: 0px;
    top: 220px;

    z-index: 20;
}


/********** CUPCAKE ************/
#cupcake {
    width: 94px;
    height: 92px;
    top: 460px;
    left: 125px;
    position: absolute;
}

#cupcake > * {
    height: 100%;
    width: 100%;
    position: absolute;
}

#cupcake0 {
    background: url('../img/1.index.cupcake.png') 0 0 no-repeat;
}

#cupcake1 {
    background: url('../img/1.index.cupcake.png') -94px 0 no-repeat;
}

#cupcake2 {
    background: url('../img/1.index.cupcake.png') -188px 0 no-repeat;
}

/********** CopyCup ********/
#mug {
    position: absolute;
    top: 453px;
    left: 387px;
    width: 90px;
    height: 94px;
}

#cupcopy {
    width: 21px;
    height: 23px;
    position: absolute;
    top: 35px;
    left: 25px;

    background: url('../img/1.index.copycup.png');

    opacity: 0;
    transition: opacity .5s;
}

#cupcopy.copypop {
    animation: copypop .7s ease-out;
    opacity: 1;
}

@keyframes copypop {
    0% {transform: scale(0.1);}
    50% {transform: scale(.8);}
    100% {transform: scale(1);}
}

/*********** SMALL PHOTOBOOTH ***********/

.photoBooth {
    width: 165px;
    height: 181px;
}

#pbox {
    position: relative;
    left: 47px;
    top: 264px;
}


#pb1 {display: none;}
#pb1.flash {display: block;}

.pblayer{position: absolute; left: 0; top: 0;}

.smallPhotoOut {
    z-index: 12;
    position: absolute;
    width: 12px;
    left: 191px;
    top: 275px;
    transition: top .7s linear;
}

.smallPhotoOut.print {
    top: 335px;
}

.smallPhotoOut.out {
    animation: fadeOut .7s linear forwards normal;
    overflow: hidden;
}

@keyframes fadeOut {
    0% {transform: translate(0px, 0px);}
    50% {opacity: 1; transform: translate(0px, 52px);}
    100% {opacity: 0; transform: translate(0px, 67px);}
}

/*** Layering ***/
#pb0 {background: url("../img/1.index.photobooth.png") 0 0 no-repeat; z-index: 10;}
#pb3 {background: url("../img/1.index.photobooth.png") -1155px 0 no-repeat; z-index: 11;}
#pb4 {background: url("../img/1.index.photobooth.png") -495px 0 no-repeat; z-index: 12;}
#pb5 {background: url("../img/1.index.photobooth.png") -660px 0 no-repeat; z-index: 13; opacity: 0.75;}
#pb6 {background: url("../img/1.index.photobooth.png") -825px 0 no-repeat; z-index: 14;}
#pb1 {background: url("../img/1.index.photobooth.png") -165px 0 no-repeat; z-index: 16;}
#pb2 {background: url("../img/1.index.photobooth.png") -330px 0 no-repeat; z-index: 17;}
#pb7 {background: url("../img/1.index.photobooth.png") -990px 0 no-repeat; z-index: 15;}
