#bodyContainer.index
{
    background: none;
}

/*** Transformations - std ***/
@keyframes shake {
    0% {transform: rotate(0deg) scale(1);}
    20% {transform: rotate(15deg) scale(1.1);}
    40%, 80% {transform: rotate(-15deg) scale(1.3);}
    60% {transform: rotate(15deg) scale(1.5);}
    100% {transform: rotate(0deg) scale(1.15);}
}

@keyframes flampop {
    0% {transform: rotate(0deg) translate(0, 0);}
    10% {transform: rotate(12deg) translate(0, -20px);}
    25% {transform: rotate(25deg) translate(0, -40px);}
    40% {transform: rotate(8deg) translate(0, -55px);}
    50% {transform: rotate(-2deg) translate(0, -70px);}
    70% {transform: rotate(-2deg) translate(0, -75px);}
    100% {transform: rotate(0deg) translate(0, -95px);}
}

@keyframes hshake {
    0%, 100% {transform: translate(0, 0);}
    20% {transform: translate(3px, 0);}
    30%, 90% {transform: translate(-4px, 0);}
    40% {transform: translate(5px, 0);}
    50% {transform: translate(-6px, 0);}
    60% {transform: translate(8px, 0);}
    70% {transform: translate(-8px, 0);}
    80% {transform: translate(6px, 0);}
}
/***** Transforms ******/

/***** Transformed components ****/
#buisson.shake {
    animation: hshake .7s ease-out;
}

#flamand.flampop {
    animation: flampop 0.9s linear forwards alternate;
    animation-delay: .5s;
}

#uh {
    transition-delay: 0s;
    transition: opacity .6s;
}

#uh.what
{
    opacity: 1;
    transition-delay: 1.8s;
}

#copyright
{
    animation: rotaz 5s infinite ease-in-out;
}

.bulle
{
    opacity: 0.6;
    transition: opacity .8s;
}

.bulle:hover
{
    opacity: 1;
    animation: shake .4s ease-out;
}

/***** Layout *****/
#indexbg
{
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/1.index.bg.jpg') top center no-repeat;
    top: 0;
    height: 560px;
    min-height: 560px;
    overflow-x: hidden;
    text-align: center;
    position: relative;
}

#playground
{
    margin-left: auto;
    margin-right: auto;
    height: 560px;
    width: 886px;
    position: relative;
}

#nuage1
{
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/1.index.png') -866px 0 no-repeat;
    position: absolute;
    top: 0;
    left: 12%;
    width: 110px;
    height: 155px;

    animation: pendule1 7s infinite ease-in-out;
}

#nuage2
{
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/1.index.png') -976px 0 no-repeat;
    position: absolute;
    top: 0;
    right: 8%;
    width: 115px;
    height: 208px;

    animation: pendule2 9s infinite ease-in-out;
}

#copyright
{
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/1.index.png') -358px 0 no-repeat;
    width:114px;
    height:191px;
    position: absolute;
    top: 0;
    right: 299px;
}

#buisson
{
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/1.index.png') -94px 0 no-repeat;
    position: absolute;
    left: 678px;
    bottom: 115px;
    width: 132px;
    height: 77px;
    z-index: 2;
    overflow:hidden;
}

#cache
{
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/1.index.png') -226px 0 no-repeat;
    position: absolute;
    left: 678px;
    bottom: 0;
    width: 132px;
    height: 115px;
    z-index: 2;
}


#flamand
{
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/1.index.png') -10px 0 no-repeat;
    width: 84px;
    height: 123px;
    position: absolute;
    bottom: 35px;
    left: 718px;
    z-index: 1;
}

#uh
{
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/1.index.png') 0 0 no-repeat;
    width: 10px;
    height: 19px;
    position: absolute;
    left: 748px;
    top: 293px;
    opacity: 0;
}

.bulle
{
    position: absolute;
    z-index: 3;
}

#playground a
{
    height: 100%;
    width: 100%;
    cursor: default;
}

#bclients.bulle
{
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/1.index.png') -551px 0 no-repeat;
    width: 73px;
    height: 59px;
    left: 556px;
    top: 407px;
}

#bportfolio.bulle
{
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/1.index.png') -778px 0 no-repeat;
    width: 88px;
    height: 78px;
    left: 214px;
    top: 431px;
}

#bagence.bulle
{
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/1.index.png') -472px 0 no-repeat;
    width: 79px;
    height: 70px;
    left: 598px;
    top: 114px;
}

#bcontact.bulle
{
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/1.index.png') -624px 0 no-repeat;
    width: 85px;
    height: 60px;
    left: 449px;
    top: 403px;
}

#bequipe.bulle
{
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/1.index.png') -709px 0 no-repeat;
    width: 69px;
    height: 66px;
    left: 23px;
    top: 224px;
}

/************************************************************************************************************/
/************************************************************************************************************/
/**************************************BASE.CSS**************************************************************/
/************************************************************************************************************/
/************************************************************************************************************/
*
{
    margin: 0;
    padding: 0;
}

body
{
    color: #696969;
    font-family: "Bitstream Vera Sans Mono", Arial, sans-serif;
    text-align: center;
    font-size: 100%;
}

ul
{
    list-style: none;
}

a
{
    color: #b8a6b2;
    text-decoration: underline;
}

a:hover
{
    color: #ff69b4;
}

#bodyContainer
{
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/0.commonbg.png') no-repeat top;
}

/** Rounded div popups **/
div.roundedPop
{
    border: #AAAAAA 1px solid;
    box-shadow: 3px 3px 2px #AAAAAA;
    border-radius: 25px;
}

/***GlassPane***/
#glassPane {
    position: fixed;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: gray;
    z-index: 0;

    transition: opacity 0.5s linear;
}

#glassPane.fadeIn {
    width: 100%;
    height: 100%;
    z-index: 128;
    opacity: 0.6;
}

#topOfTheWarp {
    height: 100%;
    width: 100%;
    position: absolute;
}

.link {
    color: #ff69b4;
    cursor: pointer;
}

.link:hover {
    color: #696969;
}

/** Align **/
.alignC             {text-align: center;}
.alignR             {text-align: right;}
.alignL             {text-align: left;}

.valignC            {vertical-align: middle;}
.valignT            {vertical-align: top;}
.valignB            {vertical-align: bottom;}

/** Display **/
.inblock            {display: inline-block;}
.inline             {display: inline;}
.block              {display: block;}
.hidden             {display: none;}
.fixed              {position: fixed;}

/** Float **/
.floatR             {float: right;}

/** Fonts **/
.small              {font-size: 0.65em;}

/** Fixes **/
img                 {border: none;} /* IE blue border fix */


/*** Common animations ***/
@keyframes rotaz {
    0%, 100% {transform: rotate3d(0, 1, 0, 0deg);}
    50% {transform: rotate3d(0, 1, 0, -40deg);}
}

@keyframes pendule1 {
    0%, 100% {
        transform: rotate(14deg);
        transform-origin: 67px 0px;
    }
    50% {
        transform: rotate(-14deg);
        transform-origin: 67px 0px;
    }
}

@keyframes pendule2 {
    0%, 100% {
        transform: rotate(-8deg);
        transform-origin: 60px 0px;
    }
    50% {
        transform: rotate(8deg);
        transform-origin: 60px 0px;
    }
}


/* HEADFOOT */
/** Layout **/
header, #bodyContainer, footer
{
    position: absolute;
    left: 0; right: 0;

    z-index: 11;
}

header
{
    height: 64px;
    top: 0;
    overflow-x: auto;
    overflow-y: hidden;
}

#bodyContainer
{
    top: 64px;
    bottom: 45px;
    margin: 0;
}

#bodyContainer.index
{
    top: 0;
    bottom: 70px;
}

#bodyContainer.scrollY
{
    overflow: auto;
}

footer
{
    height: 45px;
    bottom: 0;
    z-index: 10;
}

footer.index
{
    height: 70px;
}

/** Header **/
nav
{
    cursor: default;

    border-bottom: 1px solid gray;
    background-color: white;
}

nav:hover {
    cursor: default;
}

nav > ul
{
    font-family: "Quicksand", sans-serif;
    /*font-weight: 100;*/
    font-size: 1.3em;

    padding-top: 20px;
    padding-bottom: 15px;
    top: 5px;
    /*min-width: 700px;*/
}

nav > ul:hover a.active
{
    padding: 16px 10px 30px 10px;
    background-color: inherit;
    border: none;
    box-shadow: none;
    color: inherit;
}

nav > ul:hover a.active:hover
{
    padding: 16px 9px 30px 9px;
    background-color: #fadce9;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid #808080;
    border-bottom: none;
    border-radius: 5px;
    box-shadow: -2px -1px 3px #888;
    color: #ff69b4;
}

nav > ul > li
{
    /*margin-right: 75px;*/
}

nav > ul > li > a
{
    padding: 16px 10px 30px 10px;
    /*padding: 5px;*/
}
nav  ul > li > a.active:hover
{
    padding: 16px 10px 30px 10px;
}

nav > ul > li > a.active
{
    padding: 16px 9px 30px 9px;
    background-color: #fadce9;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid #808080;
    border-bottom: none;
    border-radius: 5px;
    box-shadow: -2px -1px 3px #888;
    color: #ff69b4;

    transition-property: background-color, box-shadow;
    transition-duration: 0.3s;
}

nav > ul > li > a:hover
{
    cursor: default;
    padding: 16px 9px 30px 9px;
    background-color: #fadce9;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid #808080;
    border-bottom: none;
    border-radius: 5px;
    box-shadow: -2px -1px 3px #888;

    transition-property: background-color, box-shadow;
    transition-duration: 0.5s;
}

nav > .logo
{
    position:relative;
}

/** Footer **/
footer
{
    text-align: center;
    border-top: 1px solid gray;
    background: #dddddd;
}

footer > p
{
    position:absolute;
    height: 2em;
}

footer > div
{
    top: 10px;
    position: relative;
}

footer.index > div
{
    top: 25px;
}

footer > img
{
    position: absolute;
    height: 70px;
    right: 10%;
}
/* HEADFOOT */

nav a {
    text-decoration: none;
}