/*******FONTS*******/
@font-face {
    font-family: 'MarketingScript';
    font-style: normal;
    font-weight: normal;
    src: url('../font/marketingscript/marketingscript.eot');
    src: local('MarketingScript'),
    url('../font/marketingscript/marketingscript.ttf') format('truetype'),
    url('../font/marketingscript/marketingscript.woff') format('woff');
}

/*******FONTS*******/
#playground {
    margin-left: auto;
    margin-right: auto;
    height: 520px;
    width: 886px;
    position: relative;
}

#bodyContainer {
    overflow: auto;
}

#fouet {
    z-index: 0;
    width: 397px;
    height: 480px;

    position: absolute;
    top: 15px;
    left: 125px;

    background: url('../img/3.fouet.png') 0 0 no-repeat;
}

#cupcake {
    z-index: 0;
    width: 150px;
    height: 163px;

    position: absolute;
    top: 320px;
    left: 75px;

    background: url('../img/3.cupcake.png') 0 0 no-repeat;
}

#oeuf {
    z-index: 0;
    width: 166px;
    height: 121px;

    position: absolute;
    left: 585px;
    top: 376px;

    background: url("../img/3.portfolio.png") -2346px -362px no-repeat;
}

.loader {
    background: url('../img/loader.gif') center center no-repeat;
    width: 100%;
    height: 100%;
}

/************FLIPBOOK************/
#bookTitle {
    font-family: "MarketingScript", serif;
    font-size: 1.8em;

    color: #e31c79;

    width: 151px;
    height: 97px;

    position: relative;
    left: 145px;
    top: 118px;
}

#bookTitle > p {
    position: absolute;
    top: 8px;
}

#bookTitle:hover {
    cursor: default;
}

#flipbook {
    z-index: 2;
    width: 740px;
    height: 450px;
    right: 0; top: 50px; bottom: 0;
    margin:auto;
    left: 0;

    transition: left .25s ease-out;

    position: absolute !important;
}

#flipbook.first {
    left: -350px;
}

#flipbook.last {
    left: 270px;
}



#flipbook .even{
    background-image:-webkit-linear-gradient(left, #FFF 95%, #ddd 100%);
    background-image:-moz-linear-gradient(left, #FFF 95%, #ddd 100%);
    background-image:-o-linear-gradient(left, #FFF 95%, #ddd 100%);
    background-image:-ms-linear-gradient(left, #FFF 95%, #ddd 100%);
}

#flipbook .odd{
    background-image:-webkit-linear-gradient(right, #FFF 95%, #ddd 100%);
    background-image:-moz-linear-gradient(right, #FFF 95%, #ddd 100%);
    background-image:-o-linear-gradient(right, #FFF 95%, #ddd 100%);
    background-image:-ms-linear-gradient(right, #FFF 95%, #ddd 100%);
}

.page img {
    position: absolute;
    top: 0; bottom: 0;
    margin: auto;
}

.page.even img {
    right: 0;
}

.page.odd img {
    left: 0;
}

#page-1 {
    height: 100%;
    width: 100%;
    background: url('../img/3.bookrose.png') no-repeat !important;
}

#page-2 {
    height: 100%;
    width: 100%;
    background: url('../img/3.bookrose.coverback.png') no-repeat !important;
}

#page-3 img {
    position: absolute;
    top: 0; bottom: 0;
    margin: auto;
}

.lastBack {
    height: 100%;
    width: 100%;
    background: url('../img/3.bookrose.last.coverback.png') no-repeat !important;
}

#back {
    height: 100%;
    width: 100%;
    background: url('../img/3.bookrose.last.png') no-repeat !important;
}

/****TABS****/
#navBook {
    position: absolute;
    right: -190px;
    height: 435px;
    top: 27px; bottom: 0;margin: auto;
    text-align: left;
    z-index: 10;
}

#navBook li {
    height: 60px;
    line-height: 60px;
    margin-bottom: 15px;

    transition: background-position .3s linear;

    color: #c3c3c3;
}

#navBook li.active a, #navBook a:hover {
    color: #E31C79;
}

#navBook a {
    text-decoration: none;
    padding-left: 75px;
    display: block;
    height: 100%;

}

.tabSprite {
    position: absolute;
    left: 0;
    background: url('../img/sprites.pole.png') transparent no-repeat;
}

#tabDesign {width: 36px; height: 46px; background-position: -167px 0;}
#liDesign.active #tabDesign, #liDesign a:hover #tabDesign {background-position: -65px 0;}

#tabPhoto {width: 64px; height: 47px; background-position: -102px 0;}
#liPhoto.active #tabPhoto, #liPhoto a:hover #tabPhoto {background-position: 0 0;}

#tabWeb {width: 47px; height: 51px; background-position: 0 -48px;}
#liWeb.active #tabWeb, #liWeb a:hover #tabWeb {background-position: -104px -91px;}

#tabCom {width: 51px; height: 53px; background-position: -152px -89px;}
#liCom.active #tabCom, #liCom a:hover #tabCom {background-position: -48px -48px;}

#tabMarketo {width: 47px; height: 42px; background-position: -100px -48px;}
#liMarketo.active #tabMarketo, #liMarketo a:hover #tabMarketo {background-position: 0 -100px;}

#tabMarketd {width: 55px; height: 40px; background-position: -148px -48px;}
#liMarketd.active #tabMarketd, #liMarketd a:hover #tabMarketd {background-position: -48px -102px;}

/*** IE BG FIX ***/
.ieEven {
    background: url('../img/3.ie.evenBG.png');
}

.ieOdd {
    background: url('../img/3.ie.oddBG.png');
}