/*******FONTS*******/
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: normal;
    src: url('/static/font/quicksand/quicksand.eot');
    src: local('Quicksand Regular'), local('Quicksand-Regular'),
         url('/static/font/quicksand/quicksand.ttf') format('truetype'),
         url('/static/font/quicksand/quicksand.woff') format('woff');
}
/*******FONTS*******/

/***Animations***/
@keyframes shrink {
    0% {transform: scale(1);}
    100% {transform: scale(0);}
}

@keyframes grow {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

#playground {
    margin-left: auto;
    margin-right: auto;
    height: 520px;
    width: 886px;
    position: relative;
}

#fouetMain {
    z-index: 0;
    width: 397px;
    height: 480px;

    position: absolute;
    top: 15px;

    background: url('http://rk.dyndns-server.com/ateliers.media/resources/3.portfolio.png') 0 0 no-repeat;
}

#oeuf {
    z-index: 2;
    width: 166px;
    height: 121px;

    position: absolute;
    left: 735px;
    top: 375px;

    background: url("http://rk.dyndns-server.com/ateliers.media/resources/3.portfolio.png") -2346px -362px no-repeat;
}

#bookWrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 530px;
}

#openBook {
    transform: scale(0);
    width: 713px;
    height: 480px;
    position: relative;
    z-index: 999;
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/3.portfolio.png') -397px 0 no-repeat;
}

#pageG, #pageD {
    width: 299px;
    height: 423px;
    transition: opacity 0.5s;
    z-index: 1;
}

#pageG {position: absolute; left: 28px; top: 28px;}
#pageD {position: absolute; left: 382px; top: 28px;}

#openBook.grow {
    animation: grow cubic-bezier(1,0,1,1) forwards 0.9s 0.7s;
    transition: opacity 0.5s;
}

#openBook.fadeOut, #pageG.fadeOut, #pageD.fadeOut {
    opacity: 0;
}

#btnG, #btnD {
    position: absolute;
    width: 22px;
    height: 22px;
    bottom: 16px;
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/3.portfolio.png') -1110px 0 no-repeat;
    z-index: 2;
}

#btnG {left: 18px;}

#btnG               {background-position: -1110px -22px;}
#btnG.active        {background-position: -1132px -22px;}
#btnG.active:hover  {background-position: -1154px -22px;}

#btnD {right: 18px;}

#btnD               {background-position: -1110px 0;}
#btnD.active        {background-position: -1132px 0;}
#btnD.active:hover  {background-position: -1154px 0;}

#pgNbG {left: 45px;}
#pgNbD {right: 45px;}

#pgNbG, #pgNbD {
    opacity: 0.8;
    position: absolute;
    bottom: 16px;
    height: 20px;
    line-height: 20px;
    font-size: 0.7em;
    z-index: 3;
    cursor: default;
}

#book {
    z-index: 1;
    width: 360px;
    height: 430px;

    position: absolute;
    top: 60px;
    left: 288px;

    background: url('http://rk.dyndns-server.com/ateliers.media/resources/3.portfolio.png') -1176px 0 no-repeat;
}

#book.shrink {
    animation: shrink cubic-bezier(1,0,1,1) forwards 0.7s;
}

#book.loadFade {
    opacity: 0;
    transition: opacity 0.5s 0.5s;
}

#book.fadeIn {
    opacity: 1;
}

.preload {
    display: none;
}

.fiche h1 {
    font-size: 1em;
    margin: 37px 5px 5px 5px;

    top: 15px;
}

.fiche div {
    text-align: left;
    font-size: 0.8em;
    margin: 15px;
}

.fiche {
    width: 164px;
    height: 196px;
    opacity: 0.75;
    transition: opacity 0.5s;

    position: absolute;
}

#fiche0:hover, #fiche1:hover, #fiche2:hover,
#fiche3:hover, #fiche4:hover, #fiche5:hover {
    z-index: 99;
    opacity: 1;
    cursor: default;
}

#fiche0 {
    z-index: 2;
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/3.portfolio.png') -1536px 0 no-repeat;

    left: 630px;
    top: 230px;

    transform: rotate(8deg) translate3d( 0, 0, 0);
}
#fiche1 {
    z-index: 4;
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/3.portfolio.png') -1700px 0 no-repeat;

    left: 595px;
    top: 310px;

    transform: rotate(-15deg) translate3d( 0, 0, 0);
}
#fiche2 {
    z-index: 5;
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/3.portfolio.png') -1862px 0 no-repeat;

    left: 80px;
    top: 200px;

    transform: rotate(-8deg) translate3d( 0, 0, 0);
}
#fiche3 {
    z-index: 6;
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/3.portfolio.png') -2026px 0 no-repeat;

    left: 155px;
    top: 258px;

    transform: rotate(8deg) translate3d( 0, 0, 0);
}
#fiche4 {
    z-index: 8;
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/3.portfolio.png') -2187px 0 no-repeat;

    left: 210px;
    top: 325px;

    transform: rotate(0deg) translate3d( 0, 0, 0);
}
#fiche5 {
    z-index: 7;
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/3.portfolio.png') -2350px 0 no-repeat;

    left: 310px;
    top: 248px;

    transform: rotate(-2deg) translate3d( 0, 0, 0);
}


/************************************************************************************************************/
/************************************************************************************************************/
/**************************************BASE.CSS**************************************************************/
/************************************************************************************************************/
/************************************************************************************************************/
*
{
    margin: 0;
    padding: 0;
}

body
{
    color: #696969;
    font-family: "Bitstream Vera Sans Mono", Arial, sans-serif;
    text-align: center;
    font-size: 100%;
}

ul
{
    list-style: none;
}

a
{
    color: #b8a6b2;
    text-decoration: none;
}

a:hover
{
    color: #ff69b4;
}

#bodyContainer
{
    background: url('http://rk.dyndns-server.com/ateliers.media/resources/0.commonbg.png') no-repeat top;
}

/** Rounded div popups **/
div.roundedPop
{
    border: #AAAAAA 1px solid;
    box-shadow: 3px 3px 2px #AAAAAA;
    border-radius: 25px;
}

/***GlassPane***/
#glassPane {
    position: fixed;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: gray;
    z-index: 0;

    transition: opacity 0.5s linear;
}

#glassPane.fadeIn {
    width: 100%;
    height: 100%;
    z-index: 128;
    opacity: 0.6;
}

#topOfTheWarp {
    height: 100%;
    width: 100%;
    position: absolute;
}

.link {
    color: #ff69b4;
    cursor: pointer;
}

.link:hover {
    color: #696969;
}

/** Align **/
.alignC             {text-align: center;}
.alignR             {text-align: right;}
.alignL             {text-align: left;}

.valignC            {vertical-align: middle;}
.valignT            {vertical-align: top;}
.valignB            {vertical-align: bottom;}

/** Display **/
.inblock            {display: inline-block;}
.inline             {display: inline;}
.block              {display: block;}
.hidden             {display: none;}
.fixed              {position: fixed;}

/** Float **/
.floatR             {float: right;}

/** Fonts **/
.small              {font-size: 0.65em;}

/** Fixes **/
img                 {border: none;} /* IE blue border fix */


/*** Common animations ***/
@keyframes rotaz {
    0%, 100% {transform: rotate3d(0, 1, 0, 0deg);}
    50% {transform: rotate3d(0, 1, 0, -40deg);}
}

@keyframes pendule1 {
    0%, 100% {
        transform: rotate(14deg);
        transform-origin: 67px 0px;
    }
    50% {
        transform: rotate(-14deg);
        transform-origin: 67px 0px;
    }
}

@keyframes pendule2 {
    0%, 100% {
        transform: rotate(-8deg);
        transform-origin: 60px 0px;
    }
    50% {
        transform: rotate(8deg);
        transform-origin: 60px 0px;
    }
}

/* HEADFOOT */
/** Layout **/
header, #bodyContainer, footer
{
    position: absolute;
    left: 0; right: 0;

    z-index: 11;
}

header
{
    height: 64px;
    top: 0;
    overflow-x: auto;
    overflow-y: hidden;
}

#bodyContainer
{
    top: 64px;
    bottom: 45px;
    margin: 0;
}

#bodyContainer.index
{
    top: 0;
    bottom: 70px;
}

#bodyContainer.scrollY
{
    overflow: auto;
}

footer
{
    height: 45px;
    bottom: 0;
    z-index: 10;
}

footer.index
{
    height: 70px;
}

/** Header **/
nav
{
    cursor: default;

    border-bottom: 1px solid gray;
    background-color: white;
}

nav:hover {
    cursor: default;
}

nav > ul
{
    font-family: "Quicksand", sans-serif;
    font-weight: 100;
    font-size: 1.3em;

    padding-top: 20px;
    padding-bottom: 15px;
    top: 5px;
    min-width: 700px;
}

nav > ul:hover a.active
{
    padding: 16px 20px 30px 20px;
    background-color: inherit;
    border: none;
    box-shadow: none;
    color: inherit;
}

nav > ul:hover a.active:hover
{
    padding: 16px 19px 30px 19px;
    background-color: #fadce9;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid #808080;
    border-bottom: none;
    border-radius: 5px;
    box-shadow: -2px -1px 3px #888;
    color: #ff69b4;
}

nav > ul > li
{
    margin-right: -4px;
}

nav > ul > li > a
{
    padding: 16px 20px 30px 20px;
}
nav  ul > li > a.active:hover
{
    padding: 16px 20px 30px 20px;
}

nav > ul > li > a.active
{
    padding: 16px 19px 30px 19px;
    background-color: #fadce9;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid #808080;
    border-bottom: none;
    border-radius: 5px;
    box-shadow: -2px -1px 3px #888;
    color: #ff69b4;

    transition-property: background-color, box-shadow;
    transition-duration: 0.3s;
}

nav > ul > li > a:hover
{
    cursor: default;
    padding: 16px 19px 30px 19px;
    background-color: #fadce9;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid #808080;
    border-bottom: none;
    border-radius: 5px;
    box-shadow: -2px -1px 3px #888;

    transition-property: background-color, box-shadow;
    transition-duration: 0.5s;
}

nav > .logo
{
    position:relative;
}

/** Footer **/
footer
{
    text-align: center;
    border-top: 1px solid gray;
    background: #dddddd;
}

footer > p
{
    position:absolute;
    height: 2em;
}

footer > div
{
    top: 10px;
    position: relative;
}

footer.index > div
{
    top: 25px;
}

footer > img
{
    position: absolute;
    height: 70px;
    right: 10%;
}
/* HEADFOOT */