{% extends 'base.html' %}

{% block title %} - Accueil{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/index.js"></script>
{% endblock %}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/index.css" />
{% endblock %}

{% block bodyAttr %}style="zoom:{{ zoom }}%;"{% endblock %}

{% block body %}
    <img id="bgPreload" class="preload" src="{{ STATIC_URL }}img/1.index.bg.png" alt="BG"/>

    <div id="indexbg">

        <div id="playground">
            <div id="nuage1"></div>
            <div id="nuage2"></div>
            <div class="indexLink" id="copyright">
                <a href="/agence/"></a>
                <div id="copyTurn" class="rotaz"></div>
            </div>

            <div id="client" class="indexLink">
                <a href="/clients/"></a>
            </div>

            <div id="unFlamandDerriereUnBuisson">
                <div id="buisson"></div>
                <div id="cache"></div>
                <div id="flamand"></div>
                <div id="uh"></div>
            </div>

            <div id="cupcake" class="indexLink">
                <a href="/portfolio/"></a>
                <div id="cupcake0"></div>
                <div id="cupcake1"></div>
                <div id="cupcake2"></div>
            </div>

            <div id="mug" class="indexLink bcontact">
                <a href="/contact/"></a>
                <div id="cupcopy"></div>
            </div>

            <div id="pbox" class="indexLink pbox photoBooth">
                <a href="/equipe/"></a>
                <div id="pb0" class="photoBooth pblayer"></div>
                <div id="pb1" class="photoBooth pblayer"></div>
                <div id="pb2" class="photoBooth pblayer"></div>
                <div id="pb3" class="photoBooth pblayer"></div>
                <div id="pb5" class="photoBooth pblayer"></div>
                <div id="pb6" class="photoBooth pblayer"></div>
                <div id="pb7" class="photoBooth pblayer"></div>
            </div>

            {% for m in membres %}
                <img class="preload smallPhotoOut" id="smallPhoto{{ forloop.counter }}" src="{{ m.photo.photo.url }}" alt="Photo {{ m.prenom }}"/>
            {% endfor %}

            <span class="bulle bclients" id="bclients"><a href="/clients/"></a></span>
            <span class="bulle bportfolio" id="bportfolio"><a href="/portfolio/"></a></span>
            <span class="bulle bagence" id="bagence"><a href="/agence/"></a></span>
            <span class="bulle bcontact" id="bcontact"><a href="/contact/"></a></span>
            <span class="bulle bequipe" id="bequipe"><a href="/equipe/"></a></span>
        </div>
    </div>
{% endblock %}
