{% extends 'base.html' %}

{% block title %} - l'équipe{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/equipe.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.path.js"></script>
{% endblock %}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/equipe.css" />
{% endblock %}

{% block body %}
    <div id ="playground">
        <div id="bubbleArea" class="inblock valignC">
{% for m in members %}
            <div id="bubble{{ m.id }}" class="bubble"><h2>{{ m.nom }}</h2><span>{{ m.statut }}</span></div>
{% endfor %}
        </div>
        <div id="pbox" class="pbox photoBooth">
            <div id="pb0" class="photoBooth pblayer"></div>
            <div id="pb1" class="photoBooth pblayer"></div>
            <div id="pb2" class="photoBooth pblayer"></div>
            <div id="pb3" class="photoBooth pblayer"></div>
            <div id="pb5" class="photoBooth pblayer"></div>
            <div id="pb6" class="photoBooth pblayer"></div>
            <div id="pb7" class="photoBooth pblayer"></div>
            {% for m in members %} {# TODO Better #}
                <img class="preload smallPhotoOut" id="smallPhoto{{ m.id }}" src="{{ m.photo.photo.url }}" alt="Photo {{ m.prenom }}"/>
                <div id="desc{{ m.id }}" class="wrapDesc descriptionPhoto">
                    <h1>{{ m.nom }}</h1>
                    <h2>{{ m.statut }}</h2>
                    <p>{{ m.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}