{% extends 'base.html' %}

{% block title %} - clients{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/clients.js"></script>
{% endblock %}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/clients.css" />
{% endblock %}

{% block body %}
    <div class="preload dummy" style="font-family: 'digital'; z-index:-1; position: absolute; top: -999px;">.</div>
    <div id="playground">
        <div id="roiReine"></div>
        <div class="inblock valignC" id="tv">
            <div id="whitebg"></div>
            <canvas id="tvScreen" width="387" height="290"></canvas>
            <canvas id="tvLcd" width="95" height="60"></canvas>
{#            <div class="tvButton" id="tvButton"></div>#}
{#            <div class="tvButton" id="tvButton2"></div>#}
{#            <div id="clientPageNb"></div>#}
        </div>

        <ul class="tvIndex inblock" id="tvIndex">
            {% for catClient in catClients %}
                <li class="tvIndex loading">
                    <div class="data">
                        <div class="dataChannelId">{{ forloop.counter }}</div>
                        <div class="dataChannelName">{{ catClient.nom }}</div>
                        <div class="dataCat">cat{{ forloop.counter }}</div>
                    </div>
                    <p class="tvIndex alignL">{{ catClient.nom }} </p>
                    <div class="preload" style="z-index:-99;" id="cat{{ forloop.counter }}">
                        {% for client in catClient.clients.all %}
                            <div><span>{{ client.logo.url }}</span><img title="{{ client.nom }}" src="" /></div>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}