{% extends 'base.html' %}

{% block title %} - contact{% endblock %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/contact.css" />
{% endblock %}

{% block body %}
    <div id="playground">
        <div id="contactBubble" class="inblock valignC roundedPop">
            <div id="dove"></div>
{% for c in contacts %}
            <div class="aContacter">
                <h1>{{ c.nom }}</h1>
      {% autoescape off %}
                <h2>{{ c.contact1 }}</h2>
  {% if c.contact2 != "" %}
                <h2><p>

                    {{ c.contact2 }}

                </p></h2>
  {% endif %}
      {% endautoescape %}
            </div>
{% endfor %}
            <div id="sendButton"><a id="mailContact" href="mailto:romainknezevic@gmail.com">e-mail</a></div>
        </div>

        <div id="variousStuffL"></div>
        <div id="variousStuffR"></div>
    </div>

{% endblock %}