<!DOCTYPE html>
<html>
<head>
    <title>Les Ateliers des Marques{% block title %}{% endblock %}</title>

    <meta property="og:title" content="Les Ateliers des Marques" />
    <meta property="og:description" content="Les Ateliers des Marques vous présentent leur nouveau site web : un monde de fantaisie vous attend !" />
    <meta property="og:image" content="http://rk.dyndns-server.com/ateliers.media/resources/img.pdf/facebook.thumbnail.png" />

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/(c)nobg.png" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />
    {% block extracss %}{% endblock %}
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="{{ STATIC_URL }}js/lib/excanvas_r3/excanvas.compiled.js"></script>
<![endif]-->
</head>
<body>
{% if pageN != 'index' %}
    <header>
        {% include 'snip/nav.html' %}
    </header>
{% endif %}

{% block prebody %}{% endblock %}
    <div id="bodyContainer" class="scrollY {{ pageN }}">
        {% block body %}{% endblock %}
    </div>
{% block postbody %}{% endblock %}

    <footer class="{{ pageN }}">
        <div class="inblock small">
            <p>1 rue de l'espérance, 59100 Roubaix - Tél : 03.20.72.00.40</p>
            <p>Copyright (c) 2012 - Tous droits réservés - <a href="/contact/">Contact</a></p>
        </div>
{% if pageN == 'index' %}<img class="inblock valignC logo" src="{{ STATIC_URL}}img/logo.nobg.gif" alt="Logo des ateliers" />{% endif %}
    </footer>

{% if modernized == True %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/modernizr.custom.27088.js"></script>
{% endif %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/prefixfree.min.js"></script>
{% block extrajs %}{% endblock %}
</body>
</html>