{% extends 'base.html' %}

{% block title %} - Accueil{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/index.js"></script>
{% endblock %}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/index.css" />
{% endblock %}

{% block body %}
    <img id="bgPreload" class="preload" src="{{ STATIC_URL }}img/1.index.bg.png" alt="BG"/>
    <img id="spritesPreload" class="preload" src="{{ STATIC_URL }}img/1.index.png" alt="Index sprites"/>
    <img id="photoPreload" class="preload" src="{{ STATIC_URL }}img/1.index.photobooth.png" alt="Photobooth sprites"/>

    <div id="indexbg">
        <div id="nuage1"></div>
        <div id="nuage2"></div>
        <div id="playground">
            <div id="copyright" class="rotaz"></div>

            <div id="unFlamandDerriereUnBuisson">
                <div id="buisson"></div>
                <div id="cache"></div>
                <div id="flamand"></div>
                <div id="uh"></div>
            </div>

            <div id="cupcake">
                <div id="cupcake0"></div>
                <div id="cupcake1"></div>
                <div id="cupcake2"></div>
            </div>

            <div id="cupcopy"></div>

            {% include 'snip/photobooth.html' %}

            {% for m in membres %}
                {% if m.visible and m.position != 0 %}
                    <img class="preload smallPhotoOut" id="smallPhoto{{ forloop.counter }}" src="{{ m.photo.photo.url }}" alt="Photo {{ m.prenom }}"/>
                {% endif %}
            {% endfor %}

            <span class="bulle" id="bclients"><a href="/clients/"></a></span>
            <span class="bulle" id="bportfolio"><a href="/portfolio/"></a></span>
            <span class="bulle" id="bagence"><a href="/agence/"></a></span>
            <span class="bulle" id="bcontact"><a href="/contact/"></a></span>
            <span class="bulle" id="bequipe"><a href="/equipe/"></a></span>
        </div>
    </div>
{% endblock %}
