{% extends 'base.html' %}

{% block title %} - l'agence{% endblock %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/agence.css" />
{% endblock %}

{% block body %}
    <div id="playground">
        <div id="copyright" class="fixed"></div>
        <div id="nuage3" class="fixed"></div>
        <div id="agencePop" class="roundedPop inblock valignC alignL">
            <div id="flamand"></div>
            <div id="buisson"></div>
            <p>
                <img id="logoTitle" src="http://rk.dyndns-server.com/ateliers.media/resources/2.agence.logo.png" alt="Les ateliers des marques" />
            </p>
{% for new in news %}
  {% if new.display %}
            <div id="news{{ forloop.counter0 }}" class="news">
    {% autoescape off %}
                {{ new.content|linebreaks }}
    {% endautoescape %}
                <div id="sign{{ forloop.counter0 }}" class="sign">{{ new.author }} - {{ new.date.day }}/{{ new.date.month }}/{{ new.date.year }}</div>
            </div>
  {% endif %}
{% endfor %}
        </div>
    </div>
{% endblock %}