{% extends 'base.html' %}

{% block title %} - l'agence{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/agence.js"></script>
{% endblock %}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/agence.css" />
{% endblock %}

{% block body %}
    <div id="playground">
        <div id="flamand"></div>
        <div id="copyright"></div>
        <div id="nuage3"></div>
        <div id="agencePop" class="roundedPop inblock valignC alignL">
            <div id="buisson"></div>
            <p>
                <img id="logoTitle" src="http://rk.dyndns-server.com/ateliers.media/resources/2.agence.logo.png" alt="Les ateliers des marques" />
            </p>
            {{ texte_accueil|linebreaks }}
{% if displayDate %}
            <div id="date">{{ date.day }}/{{ date.month }}/{{ date.year }}</div>
{% endif %}
        </div>
{#        <div id="popIntegre" class="roundedPop">#}
{#            <p>Texte integre<br> <br> fkekek <br> kekek <br> kekeé</p>#}
{#            <div id="cochon"></div>#}
{#        </div>#}
{#        <div id="popSecteurs" class="roundedPop alignL">#}
{#            <div class="secteur"><div id="poleAgro"></div><span>Agroalimentaire</span></div>#}
{#            <div class="secteur"><div id="poleTextile"></div><span>Textile</span></div>#}
{#            <div class="secteur"><div id="poleLuxe"></div><span>Luxe</span></div>#}
{#            <div class="secteur"><div id="poleBTP"></div><span>BTP</span></div>#}
{#            <div class="secteur"><div id="poleDistribution"></div><span>Distribution</span></div>#}
{#            <div class="secteur"><div id="poleFinances"></div><span>Finances</span></div>#}
{#        </div>#}
{#        <div id="popPole" class="roundedPop">#}
            {# fiche recette #}
{#        </div>#}
    </div>
{% endblock %}