{% extends 'base.html' %}

{% block title %} - portfolio{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/portfolio.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/turn.js/turn.js"></script>
{% endblock %}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/portfolio.css" />
{% endblock %}

{% block body %}
    <div id="playground">
        <div id="fouet"></div>
        <div id="cupcake"></div>
{#        <div id="book">#}
{#            <div id="bookTitle"><p>La recette des Ateliers</p></div>#}
{#        </div>#}
{#        <div id="openBook" class="inblock valignC">#}
{#            <canvas id="pageG" width="299" height="423"></canvas>#}
{#            <canvas id="pageD" width="299" height="423"></canvas>#}
{#            <div id="btnG" class=""></div>#}
{#            <div id="pgNbG"></div>#}
{#            <div id="pgNbD"></div>#}
{#            <div id="btnD" class=""></div>#}
{#        </div>#}
        <div id="flipbook" class="first">
            <div id="front" class="cover">
                <div id="bookTitle"><p>La recette des Ateliers</p></div>
            </div>
        </div>
        <div id="oeuf"></div>
{% for b in books|slice:":6" %}
        <div id="fiche{{ forloop.counter0 }}" class="fiche">
            <h1>{{ b.fiche.titre }}</h1>
            <div class="preload">
  {% for pb in b.pagebooks.all %}
                <img class="preload gauche book-{{ forloop.parentloop.counter0 }}" src="{{ pb.pageGauche.url }}" id="pageG-{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}" alt="Page Gauche #{{ forloop.counter0 }}" />
                <img class="preload droite book-{{ forloop.parentloop.counter0 }}" src="{{ pb.pageDroite.url }}" id="pageD-{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}" alt="Page Droite #{{ forloop.counter0 }}" />
  {% endfor %}
            </div>
        </div>
{% endfor %}
    </div>
{% endblock %}