<!DOCTYPE html>
<html>
<head>
    <title>Les Ateliers des Marques{% block title %}{% endblock %}</title>

    <meta property="og:title" content="Les Ateliers des Marques" />
    <meta property="og:description" content="Les Ateliers des Marques vous présentent leur nouveau site web : un monde de fantaisie vous attend !" />
    <meta property="og:image" content="http://rk.dyndns-server.com/ateliers.media/resources/img.pdf/facebook.thumbnail.png" />

    <link rel="shortcut icon" href="/static/img/(c)nobg.png" type="image/x-icon" />

    {# Some GOOGLEFONTS #}
    <link href='http://fonts.googleapis.com/css?family=Quicksand:400|Coming+Soon' rel='stylesheet' type='text/css'>
    {% block extracss %}{% endblock %}

    {# jquery.min.js + prefixfree.min.js + (modernizr.custom.27088.js #}
{% if modernized == True %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/extra/merged.js"></script>
{% else %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/extra/merged.noMdrnzr.js"></script>
{% endif %}
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="{{ STATIC_URL }}js/extra/excanvas_r3/excanvas.compiled.js"></script>
    <![endif]-->
    {% block extrajs %}{% endblock %}
</head>
<body>
{% if pageN != 'index' %}
    <header>
        {% include 'snip/nav.html' %}
    </header>
{% endif %}

{% block prebody %}{% endblock %}
    <div id="bodyContainer" class="scrollY {{ pageN }}">
        <div id="glassPane">{% block glassPane %}{% endblock %}</div>
        {% block body %}{% endblock %}
    </div>
{% block postbody %}{% endblock %}

    <footer class="{{ pageN }}">
        <div class="inblock small">
            <p>1 rue de l'espérance, 59100 Roubaix - Tél : 03.20.72.00.40</p>
            <p>Copyright (c) 2012 - Tous droits réservés - <a href="/contact/">Contact</a></p>
        </div>
{% if pageN == 'index' %}<img class="inblock valignC logo" src="{{ STATIC_URL}}img/logo.nobg.gif" />{% endif %}
    </footer>
</body>
</html>