{% extends 'web/base.html' %}
{% load static %}

{% block title %} - portfolio{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{% static "web/js/portfolio.js" %}"> </script>
<!--[if IE]>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.page.even').addClass('ieEven');
            $('.page.odd').addClass('ieOdd');
            $(".hard").addClass("page").removeClass("hard");
            loadBook();
        });
    </script>
<![endif]-->
<!--[if lte IE 8]>
    <script type="text/javascript" src="{% static "web/js/lib/turn.js/turn.html4.min.js" %}"> </script>
<![endif]-->
<!--[if gt IE 8]>
    <script type="text/javascript" src="{% static "web/js/lib/turn.js/turn.min.js" %}"> </script>
<![endif]-->
<!--[if !IE]><!-->
    <script type="text/javascript" src="{% static "web/js/lib/turn.js/turn.min.js" %}"> </script>
    <script type="text/javascript">
        $(document).ready(function(){
            loadBook();
        });
    </script>
<!--<![endif]-->
    <script type="text/javascript" src="{% static "web/js/lib/turn.js/hash.js" %}"> </script>
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static "web/css/portfolio.css" %}" />
{% endblock %}

{% block body %}
    <div id="playground">
        <div id="fouet"></div>
        <div id="cupcake"></div>
        <div id="flipbook" class="first">
            <div id="page-1" class="hard cover">
                <div id="bookTitle"><p>La recette des Ateliers</p></div>
            </div>
            <div id="page-2" class="hard cover">
            </div>
            <div id="page-3" class="odd page">
                <div id="logoAteliers"></div>
            </div>

{% load set %}{% set i = 4 %}{% set pbid = -1 %}
{% for b in books|slice:":6" %}
    {% if forloop.counter == 1 %}
        {% set b1 = i %}
    {% elif forloop.counter == 2 %}
        {% set b2 = i %}
    {% elif forloop.counter == 3 %}
        {% set b3 = i %}
    {% elif forloop.counter == 4 %}
        {% set b4 = i %}
    {% elif forloop.counter == 5 %}
        {% set b5 = i %}
    {% elif forloop.counter == 6 %}
        {% set b6 = i %}
    {% endif %}
    {% for pb in b.pagebooks.all %}
            {% if pb == pbook %}
                <script type="text/javascript">
                    window.location = '/portfolio/#page/' + {{ i }};
                </script>
                {% set pbid = i %}
            {% endif %}
            <div id="page-{{ i }}" class="page even tmpCenter">
                <div class="loader"></div>
                <div class="data">
                    <div class="dataSelector">{{ i }}</div>
                    <div class="dataBook">{{ forloop.parentloop.counter0 }}</div>
                    <div class="dataPage">{{ forloop.counter0 }}</div>
                    <div class="dataEven">true</div>
                </div>
                <div class="arrow even"></div>
            </div>{% increment i %}
            <div id="page-{{ i }}" class="page odd tmpCenter">
                <div class="loader"></div>
                <div class="data">
                    <div class="dataSelector">{{ i }}</div>
                    <div class="dataBook">{{ forloop.parentloop.counter0 }}</div>
                    <div class="dataPage">{{ forloop.counter0 }}</div>
                    <div class="dataEven">false</div>
                </div>
                <div class="arrow odd"></div>
            </div>{% increment i %}
    {% endfor %}
{% endfor %}
            <div id="page-{{ i }}" class='page even'></div>{% increment i %}
            <div id="page-{{ i }}" class="hard cover lastBack"></div>
            <div id="back" class="hard cover"></div>
        </div>

        <ul id="navTabs" class="">
            <li id="li2Design"><a href="#page={{ b1 }}"><div id="tabLiDesign"></div></a></li>
            <li id="li2Photo"><a href="#page={{ b2 }}"><div id="tabLiPhoto"></div></a></li>
            <li id="li2Web"><a href="#page={{ b3 }}"><div id="tabLiWeb"></div></a></li>
            <li id="li2Com"><a href="#page={{ b4 }}"><div id="tabLiCom"></div></a></li>
            <li id="li2Marketo"><a href="#page={{ b5 }}"><div id="tabLiMarketo"></div></a></li>
            <li id="li2Marketd"><a href="#page={{ b6 }}"><div id="tabLiMarketd"></div></a></li>
        </ul>

        <div class="data" id="bookHandles">
            <div id="bookHandle1">{{ b1 }}</div>
            <div id="bookHandle2">{{ b2 }}</div>
            <div id="bookHandle3">{{ b3 }}</div>
            <div id="bookHandle4">{{ b4 }}</div>
            <div id="bookHandle5">{{ b5 }}</div>
            <div id="bookHandle6">{{ b6 }}</div>
        </div>
        <div id="oeuf"></div>
    </div>
{% endblock %}
