<div class="inblock valignC" id="all">
    <div id="page-flip" onclick="toggleLoadN('/static/css/pageflipAdd.css', 'css');">
        <div id="r1"><div id="p1"><div><div></div></div></div></div>
        <div id="p2"><div></div></div>
        <div id="r3"><div id="p3"><div><div></div></div></div></div>{# ---------Verso -> left page--------- #}
        <div class="s"><div id="s3"><div id="sp3"></div></div></div>{# ombre newpage #}
        <div class="s" id="s4"><div id="s2"><div id="sp2"></div></div></div>{# ombre new page #}
        <a id="coke" class="aa" href="#" title="Pure CSS Coke Can"></a>
        <a id="meninas" class="aa" href="#" title="CSS 3D Meninas"></a>
    </div>
</div>